In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import torch.nn as nn
import torch

In [2]:
df=pd.read_csv('weatherAUS.csv', sep=',')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [3]:
df.columns=df.columns.str.lower()
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           145460 non-null  object
 1   location       145460 non-null  object
 2   mintemp        143975 non-null  float64
 3   maxtemp        144199 non-null  float64
 4   rainfall       142199 non-null  float64
 5   evaporation    82670 non-null   float64
 6   sunshine       75625 non-null   float64
 7   windgustdir    135134 non-null  object
 8   windgustspeed  135197 non-null  float64
 9   winddir9am     134894 non-null  object
 10  winddir3pm     141232 non-null  object
 11  windspeed9am   143693 non-null  float64
 12  windspeed3pm   142398 non-null  float64
 13  humidity9am    142806 non-null  float64
 14  humidity3pm    140953 non-null  float64
 15  pressure9am    130395 non-null  float64
 16  pressure3pm    130432 non-null  float64
 17  cloud9am       89572 non-null   float64
 18  cloud3pm       86102 non-null   float64
 19  temp9am        143693 non-null  float64
 20  temp3pm        141851 non-null  float64
 21  raintoday      142199 non-null  object
 22  raintomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [5]:
for i in df.columns:
    print('VARIABLE ---> ' + i)
    print(df[i].unique())

VARIABLE ---> date
['2008-12-01' '2008-12-02' '2008-12-03' ... '2008-01-29' '2008-01-30'
 '2008-01-31']
VARIABLE ---> location
['Albury' 'BadgerysCreek' 'Cobar' 'CoffsHarbour' 'Moree' 'Newcastle'
 'NorahHead' 'NorfolkIsland' 'Penrith' 'Richmond' 'Sydney' 'SydneyAirport'
 'WaggaWagga' 'Williamtown' 'Wollongong' 'Canberra' 'Tuggeranong'
 'MountGinini' 'Ballarat' 'Bendigo' 'Sale' 'MelbourneAirport' 'Melbourne'
 'Mildura' 'Nhil' 'Portland' 'Watsonia' 'Dartmoor' 'Brisbane' 'Cairns'
 'GoldCoast' 'Townsville' 'Adelaide' 'MountGambier' 'Nuriootpa' 'Woomera'
 'Albany' 'Witchcliffe' 'PearceRAAF' 'PerthAirport' 'Perth' 'SalmonGums'
 'Walpole' 'Hobart' 'Launceston' 'AliceSprings' 'Darwin' 'Katherine'
 'Uluru']
VARIABLE ---> mintemp
[13.4  7.4 12.9  9.2 17.5 14.6 14.3  7.7  9.7 13.1 15.9 12.6  8.4  9.8
 14.1 13.5 11.2 11.5 17.1 20.5 15.3 16.2 16.9 20.1 19.7 12.5 12.  11.3
  9.6 10.5 12.3 13.7 16.1 14.  17.  17.3 17.2 17.4 19.8 14.9 13.9 18.6
 19.3 24.4 18.8 20.8 15.7 18.5 20.4 21.8 22.3 22.  28.  21.5 21.7 23.5
 28.3 18.4 12.4 13.3 18.  18.7 15.5  8.9 15.  15.4 16.  12.8 13.2 13.8
  7.6  8.3 11.  20.9 16.4 10.   8.8  9.3 14.4 10.8 10.1  9.1 10.4 12.2
 10.7  7.8  8.1  7.5  8.2 11.6 13.   9.9  3.5  6.6  7.   5.7  6.2  6.
 10.6  8.6  4.5  5.4  2.1  1.8  7.2  4.6  4.2  5.2  4.1  3.2  4.3  3.7
  3.6  6.9 10.3  3.   2.6  5.1  4.4  4.7  6.7  8.   2.2  1.7  2.8  9.
  6.3 -2.  -1.3  2.   0.5  1.2  0.6  0.9  5.   3.9  3.4  0.  -1.5 -1.7
 -0.4  0.1  4.8  5.9  2.9 -0.6 -0.3 -1.   0.8 -0.1  1.3  3.3  6.5 -0.8
  1.9  6.8  2.7  1.6  5.5  7.3  0.2  5.8  7.1  1.1  1.   6.1  nan  5.3
  4.  11.7  8.5  3.8  6.4  9.5 14.5 15.6 17.8 16.7 18.1 12.1 11.4 18.3
 11.9 21.  11.1 18.2 14.2 11.8 13.6 12.7 15.1 22.9 17.6 21.1 19.4 14.8
 16.3 19.6 20.6 24.5 22.6 16.8  8.7 19.2 24.7 17.7 15.2 18.9 17.9 19.5
 20.3 23.  22.1 22.5 20.2 16.5  5.6  3.1  1.4 10.2  9.4  0.4  4.9  1.5
  2.3  0.7 -0.5  2.5 -1.2  0.3  2.4 14.7 10.9 16.6 21.3 23.2 21.6 24.
 19.9 20.7 21.9 -0.7 -1.1 -1.4 -0.2 -1.6 15.8 19.1 20.  -2.5 -1.8  7.9
 21.2 22.2 23.7 25.2 19.  -0.9 -2.1 -2.8 26.  -2.4 26.8 23.4 22.8 22.4
 24.6 23.9 -3.  23.1 23.6 21.4 -1.9 25.1 24.2 27.1 23.3 24.9 25.4 23.8
 27.  26.2 25.  24.8 27.6 24.1 27.2 29.1 28.9 25.3 27.4 28.8 27.3 26.1
 26.5 22.7 25.7 24.3 29.3 27.7 26.3 25.8 29.4 25.6 26.7 26.6 28.1 27.8
 28.5 25.5 26.9 26.4 27.5 28.7 29.7 25.9 -2.3 -3.3 -2.2 -3.2 29.  28.6
 -3.8 -4.8 -3.1 -2.7 -2.6 -2.9 -4.7 -3.6 -3.5 -3.4 -5.3 -3.7 -5.8 -5.
 -4.5 -4.3 -3.9 -4.2 -4.  -6.9 -6.5 -5.5 -5.2 -6.3 -4.4 -8.  -6.7 -4.9
 -5.4 -6.1 -4.6 -6.  -6.6 -5.1 -5.6 -6.8 -7.6 -7.  -4.1 -5.7 -6.2 -8.2
 -5.9 -8.5 -7.1 -6.4 -7.5 -7.2 -7.8 -7.3 30.5 29.8 31.9 28.4 28.2 27.9
 30.7 33.9 29.2 29.9 31.4 31.8 29.5 31.2 29.6 30.3 31.  30.2]
VARIABLE ---> maxtemp
[22.9 25.1 25.7 28.  32.3 29.7 25.  26.7 31.9 30.1 30.4 21.7 18.6 21.
 24.6 27.7 20.9 22.5 25.6 29.3 33.  31.8 30.9 32.4 33.9 32.7 27.2 24.2
 24.4 26.5 23.9 28.8 34.6 35.8 37.9 38.9 28.3 28.4 30.8 32.  34.7 37.7
 43.  32.2 36.6 39.9 38.1 34.  35.2 30.6 34.3 38.4 38.2 40.7 41.5 42.9
 42.7 43.1 38.3 36.9 41.2 42.2 44.8 40.2 31.2 27.3 21.6 29.  29.2 31.3
 31.1 29.1 31.7 33.2 29.6 32.6 34.5 30.3 22.1 22.  24.  27.9 30.2 30.5
 25.8 27.  19.7 21.9 25.3 33.5 33.6 30.  31.6 22.3 29.8 27.6 28.9 29.9
 32.1 28.1 21.4 24.9 25.4 20.  23.4 22.7 16.2 15.8 12.9 11.5 14.5 12.2
 16.5 17.  19.2 18.9 19.1 18.8 19.3 18.4 19.  20.5 19.5 17.7 18.5 15.1
 16.3 16.6 16.4 15.6 19.8 21.1 20.3 18.1 15.7 16.8 17.1 14.3 13.4 17.4
 16.1 10.5 11.6 12.   8.8  9.6  8.2 12.4 14.9 15.9 14.7 15.3 17.3 15.5
 14.1 13.7 11.9 12.3 13.3 13.2 12.1 12.5 13.8 15.  13.5 13.1 11.  12.6
 14.4  9.8 12.7 13.9 14.8 15.2 17.5 13.6 12.8 16.7 17.9 11.1 14.2 20.7
 16.9 17.6  nan 24.7 17.8 17.2 20.4 20.6 20.2 18.2 18.7 23.3 26.6 27.1
 23.1 24.1 26.8 26.9 24.3 23.2 33.4 36.  35.1 32.8 35.4 36.3 39.7 23.6
 32.9 26.2 26.4 31.5 27.5 30.7 27.4 22.6 38.6 40.3 33.7 35.9 36.8 33.8
 36.4 39.8 42.4 25.2 37.3 41.8 34.4 36.5 35.6 26.1 35.  28.5 31.  26.3
 25.5 22.4 28.6 31.4 28.7 24.8 19.9 23.5 25.9 23.  10.2 14.   8.4  8.3
  9.4 10.9 10.3 10.8 14.6 15.4 10.  10.1 11.8 16.  10.4 13.  11.7 10.7
 19.6 20.1 20.8 23.7 18.  21.8 22.2 24.5 29.4 21.2 32.5 28.2 21.5 22.8
 11.2 19.4 18.3  9.2  9.3 21.3 23.8 26.  27.8 33.1 34.9 36.1 36.2 35.3
 35.5  9.7 10.6 11.3 11.4 36.7 37.4 43.4 42.  40.4 39.2 38.8 37.  35.7
 37.1 29.5 37.6 40.5 39.  43.6 42.6 34.2 33.3 40.6 41.7 41.6 41.1 40.1
  8.7 39.6 34.1  9.9  8.6  9.1  6.8  9.5  9.  37.2 34.8 40.  38.  39.5
 40.9 38.5  7.5 39.3 42.5 43.7 37.8 38.7 41.9 39.4 41.4 37.5 45.8 41.
 39.1 40.8 42.8 45.1 44.4 43.5 42.1 46.4 43.9 45.4 41.3 44.3 46.  43.8
 43.2 45.2  8.5 42.3  7.8 45.7 46.6 47.3 44.5 44.1 44.  43.3 46.5 44.9
 46.9 45.3 44.6 47.   8.9  8.1  7.6  6.3  8.   6.6 45.  45.5  4.1  7.7
  7.1  7.9  7.   7.3  2.6  7.4  6.2  7.2  6.   4.9 -1.7  0.   2.4  5.3
  2.3  5.7  5.2  5.5  4.7  6.5  2.5  2.7  3.4  2.9  5.   3.2  0.1 -0.1
 -2.2 -0.6  0.6  2.2  4.   3.5  3.   4.2  3.3  3.9  0.4  3.8  5.9 -0.7
 -1.8 -0.2  0.9 -1.3  1.8  3.1  1.6  0.3  1.2 -0.5  1.   0.5  0.2  1.9
  2.   5.1  2.8  6.7  4.3 -2.4 -0.3  4.6  6.9 -2.5  2.1  1.4  5.6  3.6
  4.4  5.4 -2.7 -1.   5.8  4.8  1.1  1.3 -1.4 -0.8 -2.   4.5 -0.4  1.7
 -0.9 -2.1 -1.5 -3.1  6.1 -1.2  6.4  3.7 -1.1  1.5 -1.9  0.8 -2.3 -3.7
 -2.9 -3.8  0.7 -4.1 -3.2 -3.  -4.8 44.2 46.8 46.7 46.3 44.7 45.6 46.2
 48.1 46.1]
VARIABLE ---> rainfall
[6.000e-01 0.000e+00 1.000e+00 2.000e-01 1.400e+00 2.200e+00 1.560e+01
 3.600e+00       nan 1.680e+01 1.060e+01 1.200e+00 8.000e-01 6.400e+00
 4.000e-01 3.000e+00 5.800e+00 1.160e+01 1.800e+00 8.600e+00 1.260e+01
 8.400e+00 6.200e+00 2.000e+01 2.100e+01 3.200e+00 4.800e+00 4.200e+00
 8.000e+00 1.440e+01 4.600e+00 2.000e+00 5.600e+00 1.600e+00 6.000e+00
 4.400e+00 5.400e+00 5.000e+00 7.800e+00 6.800e+00 9.800e+00 3.800e+00
 2.400e+00 5.200e+00 6.600e+00 1.340e+01 1.020e+01 2.880e+01 7.000e+00
 2.580e+01 9.400e+00 1.240e+01 5.220e+01 2.060e+01 6.600e+01 1.100e+01
 1.700e+01 1.040e+01 2.800e+01 2.140e+01 1.860e+01 7.200e+00 8.200e+00
 1.080e+01 1.540e+01 9.600e+00 4.000e+00 2.180e+01 2.080e+01 2.480e+01
 1.000e+01 1.140e+01 1.900e+01 2.220e+01 3.280e+01 3.400e+00 5.080e+01
 5.260e+01 1.920e+01 1.880e+01 1.480e+01 1.200e+01 1.840e+01 2.560e+01
 3.500e+01 1.420e+01 1.380e+01 2.600e+00 9.920e+01 5.100e+01 3.980e+01
 2.820e+01 1.220e+01 1.280e+01 1.180e+01 1.980e+01 1.740e+01 8.800e+00
 1.620e+01 1.460e+01 2.800e+00 3.080e+01 2.840e+01 3.480e+01 4.400e+01
 1.400e+01 1.660e+01 9.000e+00 2.680e+01 3.840e+01 1.042e+02 3.660e+01
 3.420e+01 2.940e+01 2.720e+01 1.120e+01 1.320e+01 3.340e+01 7.600e+00
 2.460e+01 7.400e+00 1.600e+01 1.940e+01 5.340e+01 1.500e+01 3.360e+01
 1.720e+01 3.740e+01 1.300e+01 3.100e+01 9.200e+00 6.620e+01 3.640e+01
 4.100e+01 2.440e+01 2.700e+01 4.680e+01 1.580e+01 3.580e+01 2.240e+01
 1.640e+01 1.520e+01 2.300e+01 2.280e+01 2.860e+01 4.600e+01 2.420e+01
 2.200e+01 1.800e+01 3.120e+01 2.120e+01 3.600e+01 2.340e+01 3.200e+01
 4.640e+01 1.360e+01 4.200e+01 3.380e+01 2.540e+01 2.040e+01 2.260e+01
 4.320e+01 6.140e+01 4.820e+01 4.860e+01 1.820e+01 6.780e+01 3.920e+01
 3.180e+01 8.240e+01 3.540e+01 1.160e+02 3.060e+01 1.780e+01 3.820e+01
 3.020e+01 2.400e+01 4.700e+01 4.240e+01 3.300e+01 4.000e+01 4.420e+01
 3.460e+01 3.040e+01 3.880e+01 8.360e+01 5.020e+01 2.620e+01 3.800e+01
 3.160e+01 2.780e+01 2.980e+01 1.760e+01 1.002e+02 1.092e+02 2.360e+01
 3.260e+01 2.160e+01 5.400e+01 3.960e+01 2.600e+01 3.400e+01 4.940e+01
 3.700e+01 2.920e+01 6.800e+01 3.320e+01 2.740e+01 3.900e+01 3.860e+01
 4.300e+01 4.500e+00 2.910e+01 2.900e+00 1.300e+00 3.000e+01 6.360e+01
 1.890e+02 5.860e+01 6.260e+01 5.900e+01 2.020e+01 4.280e+01 7.600e+01
 1.960e+01 5.580e+01 7.000e+01 7.120e+01 1.418e+02 9.600e+01 3.710e+02
 5.800e+01 6.700e+01 8.060e+01 5.660e+01 4.520e+01 5.940e+01 4.260e+01
 3.440e+01 9.000e+01 1.280e+02 6.120e+01 2.380e+01 2.760e+01 7.380e+01
 7.220e+01 1.054e+02 4.040e+01 1.020e+02 4.440e+01 4.800e+01 6.380e+01
 3.680e+01 5.500e+00 2.520e+01 1.034e+02 1.276e+02 6.320e+01 5.240e+01
 2.500e+01 5.500e+01 5.680e+01 7.080e+01 6.240e+01 1.120e+02 1.532e+02
 4.580e+01 9.700e+01 5.180e+01 8.640e+01 5.000e-01 1.598e+02 2.085e+02
 1.722e+02 9.000e-01 2.500e+00 3.000e-01 1.700e+00 3.300e+00 5.120e+01
 1.064e+02 1.478e+02 4.560e+01 5.960e+01 2.900e+01 1.170e+01 7.500e+01
 7.640e+01 6.400e+01 5.320e+01 1.004e+02 1.000e-01 6.580e+01 8.500e+00
 3.240e+01 1.578e+02 4.100e+00 1.138e+02 7.000e-01 3.100e+00 1.500e+00
 3.220e+01 3.270e+01 1.010e+01 1.110e+01 9.610e+01 4.980e+01 2.196e+02
 1.094e+02 3.500e+00 2.640e+01 2.960e+01 3.620e+01 3.760e+01 4.380e+01
 4.150e+01 5.060e+01 1.428e+02 1.062e+02 1.048e+02 2.700e+00 3.110e+01
 1.390e+01 7.100e+01 9.060e+01 6.480e+01 4.760e+01 5.140e+01 2.660e+01
 4.880e+01 3.720e+01 3.940e+01 1.130e+02 7.440e+01 9.280e+01 4.020e+01
 7.680e+01 5.460e+01 4.480e+01 4.460e+01 5.000e+01 2.270e+01 2.090e+01
 5.980e+01 4.540e+01 1.472e+02 3.520e+01 7.140e+01 3.140e+01 2.370e+01
 4.220e+01 7.560e+01 4.180e+01 4.360e+01 4.900e+00 3.560e+01 2.650e+01
 4.900e+01 3.390e+01 3.070e+01 5.300e+00 1.070e+01 6.410e+01 5.040e+01
 4.550e+01 6.900e+00 6.880e+01 7.760e+01 8.980e+01 6.980e+01 3.250e+01
 1.325e+02 1.570e+01 2.250e+01 2.400e+02 4.120e+01 6.300e+00 5.820e+01
 3.790e+01 2.950e+01 5.200e+01 2.150e+01 2.163e+02 1.250e+01 2.300e+00
 5.160e+01 2.070e+01 6.340e+01 7.420e+01 2.320e+01 4.340e+01 5.600e+01
 4.060e+01 4.780e+01 4.840e+01 6.920e+01 5.560e+01 6.180e+01 7.300e+01
 8.340e+01 3.780e+01 1.264e+02 4.720e+01 5.920e+01 1.202e+02 5.620e+01
 8.900e+01 7.620e+01 8.280e+01 6.960e+01 7.200e+01 4.080e+01 1.074e+02
 7.160e+01 2.990e+01 1.422e+02 7.980e+01 8.480e+01 1.056e+02 5.760e+01
 4.500e+01 6.220e+01 1.110e+02 1.226e+02 5.480e+01 6.100e+01 6.160e+01
 1.568e+02 3.990e+01 2.100e+00 1.900e+00 1.100e+00 4.700e+00 5.700e+00
 9.220e+01 1.154e+02 1.018e+02 4.960e+01 8.560e+01 8.140e+01 8.160e+01
 6.760e+01 5.840e+01 4.160e+01 5.640e+01 1.118e+02 4.740e+01 1.134e+02
 7.400e+01 7.060e+01 7.840e+01 6.860e+01 7.740e+01 7.320e+01 9.940e+01
 6.520e+01 8.820e+01 5.740e+01 9.520e+01 5.700e+01 1.194e+02 1.058e+02
 5.440e+01 4.140e+01 9.440e+01 6.440e+01 9.380e+01 6.840e+01 5.280e+01
 8.500e+01 8.320e+01 1.060e+02 6.020e+01 9.100e+01 5.360e+01 1.046e+02
 8.040e+01 1.068e+02 8.860e+01 7.280e+01 6.280e+01 4.660e+01 9.560e+01
 5.300e+01 5.420e+01 1.108e+02 5.780e+01 1.230e+01 2.290e+01 1.330e+01
 1.348e+02 8.440e+01 4.620e+01 6.420e+01 8.680e+01 1.576e+02 1.668e+02
 1.560e+02 1.144e+02 8.180e+01 2.250e+02 8.700e+00 9.140e+01 1.810e+01
 4.920e+01 6.080e+01 9.720e+01 8.260e+01 7.860e+01 5.380e+01 7.260e+01
 1.390e+02 5.880e+01 6.500e+01 7.900e+01 7.580e+01 5.520e+01 1.920e+02
 8.080e+01 1.180e+02 9.640e+01 1.642e+02 6.940e+01 7.520e+01 5.540e+01
 8.700e+01 9.300e+01 9.160e+01 8.420e+01 8.760e+01 7.800e+01 7.340e+01
 1.022e+02 6.040e+01 8.940e+01 1.076e+02 8.380e+01 7.820e+01 8.800e+01
 9.500e+01 7.040e+01 6.640e+01 8.220e+01 1.550e+02 6.000e+01 6.560e+01
 6.300e+01 8.400e+01 8.740e+01 8.300e+01 7.360e+01 7.720e+01 7.940e+01
 1.214e+02 6.060e+01 9.360e+01 1.684e+02 1.450e+02 9.400e+01 8.920e+01
 6.820e+01 1.826e+02 1.106e+02 9.800e+01 2.784e+02 1.402e+02 6.200e+01
 1.216e+02 7.180e+01 1.158e+02 7.920e+01 2.686e+02 1.830e+02 1.096e+02
 1.282e+02 2.062e+02 1.366e+02 1.502e+02 1.616e+02 1.090e+02 1.152e+02
 1.752e+02 2.472e+02 8.540e+01 1.052e+02 7.480e+01 1.150e+02 1.260e+02
 8.460e+01 1.580e+02 7.780e+01 6.460e+01 1.182e+02 1.438e+02 1.186e+02
 1.122e+02 1.782e+02 1.834e+02 1.082e+02 1.558e+02 1.112e+02 1.284e+02
 8.020e+01 1.290e+02 1.050e+02 1.776e+02 8.620e+01 2.368e+02 9.340e+01
 7.960e+01 2.068e+02 8.120e+01 9.260e+01 1.652e+02 1.704e+02 9.320e+01
 9.820e+01 1.486e+02 7.020e+01 1.442e+02 1.646e+02 1.746e+02 8.780e+01
 1.248e+02 1.208e+02 7.880e+01 7.660e+01 1.190e+01 9.500e+00 1.050e+01
 7.100e+00 6.500e+00 6.100e+00 3.430e+01 3.900e+00 6.700e+00 1.270e+01
 1.590e+01 1.450e+01 2.930e+01 2.390e+01 8.900e+00 9.100e+00 1.310e+01
 1.090e+01 1.850e+01 6.540e+01 7.500e+00 4.730e+01 5.900e+00 1.970e+01
 1.210e+01 1.150e+01 7.900e+00 2.530e+01 1.750e+01 7.300e+00 9.900e+00
 1.550e+01 8.100e+01 9.580e+01 9.040e+01 1.412e+02 1.622e+02 1.364e+02
 1.314e+02 1.326e+02 3.676e+02 1.846e+02 1.822e+02 1.452e+02 9.680e+01
 7.460e+01 1.294e+02 1.228e+02 1.098e+02 1.456e+02 2.106e+02 1.176e+02
 6.950e+01 1.670e+02 6.900e+01]
VARIABLE ---> evaporation
[     nan 1.20e+01 1.48e+01 1.26e+01 1.08e+01 1.14e+01 1.12e+01 1.30e+01
 9.80e+00 1.46e+01 1.10e+01 1.28e+01 1.38e+01 1.64e+01 1.74e+01 1.60e+01
 1.36e+01 8.00e+00 8.20e+00 8.60e+00 1.42e+01 1.58e+01 1.62e+01 1.34e+01
 1.44e+01 1.18e+01 1.56e+01 1.52e+01 1.16e+01 9.60e+00 6.60e+00 6.00e-01
 6.00e+00 3.00e+00 2.00e+00 5.20e+00 9.00e+00 1.02e+01 1.00e+01 7.40e+00
 8.40e+00 9.20e+00 9.40e+00 1.24e+01 1.04e+01 7.20e+00 6.80e+00 7.60e+00
 4.40e+00 6.40e+00 7.80e+00 7.00e+00 8.80e+00 6.20e+00 5.80e+00 2.00e-01
 2.40e+00 1.80e+00 2.20e+00 2.80e+00 5.00e+00 5.60e+00 4.80e+00 4.20e+00
 4.00e+00 3.20e+00 4.60e+00 3.40e+00 3.60e+00 0.00e+00 1.40e+00 3.80e+00
 8.00e-01 2.60e+00 1.60e+00 1.20e+00 1.00e+00 5.40e+00 1.06e+01 1.68e+01
 1.70e+01 2.02e+01 1.40e+01 1.72e+01 1.22e+01 1.50e+01 1.82e+01 1.32e+01
 4.10e+00 1.70e+00 4.00e-01 1.90e+00 6.48e+01 3.20e+01 2.62e+01 2.46e+01
 2.33e+01 1.54e+01 3.26e+01 3.04e+01 3.44e+01 1.80e+01 4.94e+01 1.88e+01
 1.90e+01 1.84e+01 8.10e+00 4.90e+00 2.52e+01 2.40e+01 2.24e+01 1.66e+01
 4.88e+01 5.62e+01 3.70e+01 5.24e+01 1.76e+01 6.30e+00 2.00e+01 2.14e+01
 2.50e+01 1.78e+01 2.56e+01 1.86e+01 2.16e+01 3.54e+01 2.30e+01 2.20e+01
 3.08e+01 1.11e+01 1.98e+01 3.32e+01 8.62e+01 5.54e+01 6.58e+01 5.64e+01
 3.12e+01 2.18e+01 5.70e+00 2.70e+00 1.30e+00 2.50e+00 3.30e+00 9.90e+00
 2.30e+00 7.00e-01 2.10e+00 1.10e+00 2.90e+00 1.50e+00 3.10e+00 6.10e+00
 1.96e+01 9.70e+00 1.05e+01 5.90e+00 9.30e+00 2.04e+01 1.21e+01 3.06e+01
 2.42e+01 3.00e-01 4.72e+01 1.92e+01 3.84e+01 3.46e+01 2.36e+01 4.42e+01
 3.22e+01 3.14e+01 3.42e+01 2.06e+01 2.68e+01 2.26e+01 2.38e+01 3.86e+01
 2.64e+01 4.68e+01 4.24e+01 4.66e+01 6.02e+01 3.76e+01 3.64e+01 4.84e+01
 4.36e+01 3.50e+01 5.04e+01 3.58e+01 5.40e+01 4.12e+01 3.28e+01 3.56e+01
 3.10e+01 3.24e+01 1.94e+01 6.08e+01 2.74e+01 4.34e+01 2.70e+01 3.68e+01
 2.54e+01 5.72e+01 2.86e+01 3.36e+01 3.74e+01 2.34e+01 4.30e+01 3.62e+01
 3.16e+01 3.92e+01 2.58e+01 6.54e+01 4.04e+01 2.60e+01 2.12e+01 7.10e+00
 7.48e+01 3.72e+01 2.88e+01 5.30e+00 4.70e+00 8.70e+00 3.90e+00 3.50e+00
 9.50e+00 9.00e-01 3.02e+01 1.47e+01 1.31e+01 7.50e+00 8.30e+00 5.10e+00
 3.70e+00 5.50e+00 1.81e+01 4.30e+00 2.10e+01 3.38e+01 4.50e+00 2.05e+01
 1.19e+01 6.90e+00 7.70e+00 9.10e+00 1.09e+01 1.97e+01 1.01e+01 6.70e+00
 5.00e-01 1.39e+01 1.25e+01 1.00e-01 1.45e+01 1.91e+01 1.71e+01 7.30e+00
 2.51e+01 2.22e+01 2.72e+01 1.93e+01 6.50e+00 2.76e+01 1.15e+01 2.28e+01
 2.84e+01 2.08e+01 3.94e+01 2.78e+01 2.82e+01 2.66e+01 3.30e+01 2.98e+01
 2.32e+01 3.34e+01 2.80e+01 3.80e+01 4.00e+01 2.92e+01 2.94e+01 3.88e+01
 6.44e+01 3.00e+01 2.44e+01 2.48e+01 5.92e+01 1.45e+02 4.70e+01 8.90e+00
 1.35e+01 8.50e+00 1.13e+01 4.40e+01 7.90e+00 4.44e+01 2.21e+01 3.66e+01
 4.06e+01 3.60e+01 3.40e+01 1.49e+01 4.26e+01 1.43e+01 1.03e+01 1.17e+01
 1.07e+01 8.12e+01 6.30e+01 7.00e+01 5.48e+01 5.98e+01 7.22e+01 6.40e+01
 5.96e+01 5.90e+01 4.23e+01 1.27e+01 1.77e+01 2.25e+01 1.53e+01 3.52e+01
 3.45e+01 2.31e+01 4.22e+01 8.24e+01 4.20e+01 4.32e+01 6.20e+01 7.73e+01
 1.33e+01 5.52e+01 5.80e+01 5.76e+01 5.56e+01 4.62e+01 5.50e+01 5.08e+01
 5.10e+01 6.88e+01 5.16e+01 5.85e+01 5.58e+01 5.36e+01 2.55e+01 5.60e+01
 4.80e+01 7.04e+01 5.94e+01 5.66e+01 1.41e+01 1.23e+01 1.51e+01 1.65e+01
 6.72e+01 4.18e+01 4.08e+01 5.02e+01 4.16e+01 4.28e+01 3.96e+01]
VARIABLE ---> sunshine
[ nan 12.3 13.  13.3 10.6 12.2  8.4  0.  12.6 13.2 12.7 12.1 10.3 13.1
 12.9 11.3  6.9 10.9  3.7  5.9 10.5 12.4 13.4 13.6  7.4 10.   2.3  6.6
  0.3 10.7 11.6 10.2  9.  12.   3.   7.9 11.5 11.2  4.8  5.8  6.  11.1
 11.8 11.4 10.8  7.8 11.   5.5  4.7  4.2  4.4  6.2  9.8  9.9  4.3  8.
  9.6 10.4  9.3  8.7  7.6  7.5 10.1  6.3  2.8  0.7  9.4  9.7  0.6  5.1
  8.3  4.1  3.9  6.8  8.6  2.7  8.2  3.1  1.8  0.1  0.8  3.4  7.1  5.
  5.7  6.1  7.   2.9  2.5  4.6  8.9  9.1  1.7  8.1  9.5  1.2  1.4  8.8
  2.2  3.5  9.2  1.9 11.7 11.9  7.7  0.9 12.5  2.1 12.8 13.7  8.5  0.2
  4.   2.4  5.2  0.5  6.4  4.5  1.1  2.   0.4  1.5  3.3  6.5  2.6  3.8
  3.6  3.2  6.7  5.4  7.2  4.9  1.   1.6  5.3  7.3  5.6  1.3 13.8 13.5
 14.  13.9 14.1 14.5 14.3 14.2]
VARIABLE ---> windgustdir
['W' 'WNW' 'WSW' 'NE' 'NNW' 'N' 'NNE' 'SW' nan 'ENE' 'SSE' 'S' 'NW' 'SE'
 'ESE' 'E' 'SSW']
VARIABLE ---> windgustspeed
[ 44.  46.  24.  41.  56.  50.  35.  80.  28.  30.  31.  61.  nan  22.
  63.  43.  26.  33.  57.  48.  39.  37.  52.  98.  54.  83.  59.  70.
  69.  17.  20.  19.  15.  13.  11.  72.  85.  65.  78. 107.  74.  67.
  94.  76.  81.  87.   9.   7.  89.  91.  93. 102. 100. 113. 117.  96.
 111. 106. 135. 104. 120. 115. 126. 109. 122. 124. 130.   6.]
VARIABLE ---> winddir9am
['W' 'NNW' 'SE' 'ENE' 'SW' 'SSE' 'S' 'NE' nan 'SSW' 'N' 'WSW' 'ESE' 'E'
 'NW' 'WNW' 'NNE']
VARIABLE ---> winddir3pm
['WNW' 'WSW' 'E' 'NW' 'W' 'SSE' 'ESE' 'ENE' 'NNW' 'SSW' 'SW' 'SE' 'N' 'S'
 'NNE' nan 'NE']
VARIABLE ---> windspeed9am
[ 20.   4.  19.  11.   7.   6.  15.  17.  28.  24.  nan   9.   0.  13.
   2.  26.  30.  22.  35.  37.  31.  33.  48.  39.  44.  43.  41.  46.
  56.  83.  74.  52.  65.  50. 130.  54.  61.  57.  59.  87.  67.  63.
  69.  72.]
VARIABLE ---> windspeed3pm
[24. 22. 26.  9. 20. 17. 28. 11.  6. 13. 30. 19. 31.  7. 15. 48.  4. 33.
  0.  2. nan 37. 46. 39. 50. 35. 44. 41. 43. 56. 61. 54. 52. 83. 65. 78.
 57. 63. 59. 74. 72. 69. 76. 87. 67.]
VARIABLE ---> humidity9am
[ 71.  44.  38.  45.  82.  55.  49.  48.  42.  58.  89.  76.  65.  57.
  50.  69.  80.  47.  56.  54.  41.  78.  46.  43.  33.  34.  36.  52.
  51.  40.  35.  39.  60.  37.  27.  32.  53.  20.  66.  63.  62.  87.
  61.  59.  92.  72.  67.  75.  88.  68.  73.  74.  83.  77.  70.  81.
  86.  97.  99.  91.  85.  93.  84.  94.  79.  98.  96.  95.  90.  64.
  29.  21. 100.  nan  24.  25.  31.  18.  23.  26.  28.  30.  19.  22.
  17.  15.   9.  12.  13.  16.   6.  10.  14.  11.   7.   8.   5.   3.
   2.   4.   0.   1.]
VARIABLE ---> humidity3pm
[ 22.  25.  30.  16.  33.  23.  19.   9.  27.  91.  93.  43.  32.  28.
  82.  65.  26.  24.  17.  15.  70.  12.   8.  31.  20.  10.  21.  39.
  13.  11.  69.  18.  14.  35.  90.  68.  74.  41.  34.  78.  49.  37.
  42.  47.  52.  29.  86.  89.  62.  79.  48.  46.  38.  44.  51.  36.
  45.  40.  53.  61.  59.  63.  54.  57.  50.  58.  75.  97.  80.  95.
  56.  72.  60.  71.  73.  81.  76.  64.  87.  85.  67.  55.  77.  84.
   7.  99.  92.  66.  83.  94.  96.  88.  nan 100.  98.   5.   6.   1.
   4.   2.   3.   0.]
VARIABLE ---> pressure9am
[1007.7 1010.6 1007.6 1017.6 1010.8 1009.2 1009.6 1013.4 1008.9 1007.
 1011.8 1010.5  994.3 1001.2 1009.7 1012.2 1005.8 1009.4 1019.2 1019.3
 1013.6 1007.8 1011.  1012.9 1010.9 1006.8 1005.2 1004.8 1005.6 1006.1
 1004.5 1014.4 1018.7 1015.1 1012.6 1011.9 1017.8 1009.9 1014.1 1015.7
 1011.6 1008.4 1019.7 1015.8 1010.1 1005.3 1007.9 1005.4 1016.5 1017.7
 1014.9 1014.6 1014.2 1012.5 1011.7 1008.8 1005.9 1008.  1008.2 1009.3
 1012.8 1017.  1023.3 1022.5 1016.2 1017.2 1012.4 1015.6 1013.  1014.
 1016.6 1007.5 1014.7 1014.5 1013.7 1015.2 1019.5 1021.3 1017.4 1012.7
 1013.3 1016.3 1014.8 1019.1 1023.  1023.8 1022.4 1023.2 1022.6 1018.8
 1019.8 1020.4 1021.8 1026.7 1027.1 1024.2 1021.5 1024.4 1024.1 1018.5
 1022.8 1022.7 1023.6 1025.2 1026.  1004.  1013.8 1018.  1023.1 1023.4
 1026.9 1028.7 1029.8 1031.4 1028.5 1026.2 1028.8 1025.1 1025.6 1022.3
 1018.4 1015.3 1015.  1024.7 1022.2 1025.  1024.6 1021.4 1021.7 1030.3
 1034.1 1031.9 1029.3 1023.5 1021.  1017.9 1011.1 1025.7 1018.3 1013.9
 1029.7 1031.6 1030.8 1021.9 1020.7 1020.2 1015.5 1011.4 1006.5 1008.6
 1019.9 1030.4 1032.  1020.5 1010.4 1006.6 1021.6 1009.5 1027.3 1026.8
 1024.  1025.8 1027.9 1026.4 1018.6 1009.  1011.5 1021.1 1021.2 1018.2
 1027.7 1012.  1004.1 1016.1 1016.9 1002.6 1018.9 1024.9 1005.  1020.
  997.8 1009.8 1012.3 1020.6 1029.5 1001.9 1000.5 1008.5 1016.  1026.6

In [6]:
#df.select_dtypes(include=np.number)
numerical_variables=df._get_numeric_data()
new_numerical_variables=numerical_variables.drop(['cloud9am','cloud3pm'], axis=1)
new_numerical_variables

,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,temp9am,temp3pm
0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8
1,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3
2,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2
3,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5
4,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.4,0.0,NaN,NaN,31.0,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4
145456,3.6,25.3,0.0,NaN,NaN,22.0,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5
145457,5.4,26.9,0.0,NaN,NaN,37.0,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1
145458,7.8,27.0,0.0,NaN,NaN,28.0,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0
145459,14.9,NaN,0.0,NaN,NaN,NaN,17.0,17.0,62.0,36.0,1020.2,1017.9,15.0,20.9

In [7]:
new_numerical_variables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   mintemp        143975 non-null  float64
 1   maxtemp        144199 non-null  float64
 2   rainfall       142199 non-null  float64
 3   evaporation    82670 non-null   float64
 4   sunshine       75625 non-null   float64
 5   windgustspeed  135197 non-null  float64
 6   windspeed9am   143693 non-null  float64
 7   windspeed3pm   142398 non-null  float64
 8   humidity9am    142806 non-null  float64
 9   humidity3pm    140953 non-null  float64
 10  pressure9am    130395 non-null  float64
 11  pressure3pm    130432 non-null  float64
 12  temp9am        143693 non-null  float64
 13  temp3pm        141851 non-null  float64
dtypes: float64(14)
memory usage: 15.5 MB

In [8]:
new_numerical_variables.isnull().sum()

mintemp           1485
maxtemp           1261
rainfall          3261
evaporation      62790
sunshine         69835
windgustspeed    10263
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
temp9am           1767
temp3pm           3609
dtype: int64

In [9]:
new_numerical_variables.isnull().sum() * 100 / len(numerical_variables)

mintemp           1.020899
maxtemp           0.866905
rainfall          2.241853
evaporation      43.166506
sunshine         48.009762
windgustspeed     7.055548
windspeed9am      1.214767
windspeed3pm      2.105046
humidity9am       1.824557
humidity3pm       3.098446
pressure9am      10.356799
pressure3pm      10.331363
temp9am           1.214767
temp3pm           2.481094
dtype: float64

In [10]:
column_means=new_numerical_variables.mean()
new_numerical_variables2=new_numerical_variables.fillna(column_means)
new_numerical_variables2.isnull().sum()

mintemp          0
maxtemp          0
rainfall         0
evaporation      0
sunshine         0
windgustspeed    0
windspeed9am     0
windspeed3pm     0
humidity9am      0
humidity3pm      0
pressure9am      0
pressure3pm      0
temp9am          0
temp3pm          0
dtype: int64

In [11]:
import matplotlib.pyplot as plt

In [ ]:
for i in new_numerical_variables2.columns:
    plt.figure()
    new_numerical_variables2.boxplot([i])

In [12]:
Q1=new_numerical_variables2.quantile(0.25)
Q3=new_numerical_variables2.quantile(0.75)
IQR=Q3-Q1

In [13]:
((new_numerical_variables2< (Q1 - 1.5 * IQR)) | (new_numerical_variables2 > (Q3 + 1.5 * IQR))).sum()

mintemp             82
maxtemp            544
rainfall         23723
evaporation      29631
sunshine         45567
windgustspeed     5523
windspeed9am      1817
windspeed3pm      2523
humidity9am       1425
humidity3pm          0
pressure9am       2758
pressure3pm       2524
temp9am            307
temp3pm            988
dtype: int64

In [14]:
numerical_variables=new_numerical_variables2.clip(lower=Q1 - 1.5 * IQR, upper=Q3 + 1.5 * IQR,axis=1)

In [15]:
((numerical_variables< (Q1 - 1.5 * IQR)) | (numerical_variables > (Q3 + 1.5 * IQR))).sum()

mintemp          0
maxtemp          0
rainfall         0
evaporation      0
sunshine         0
windgustspeed    0
windspeed9am     0
windspeed3pm     0
humidity9am      0
humidity3pm      0
pressure9am      0
pressure3pm      0
temp9am          0
temp3pm          0
dtype: int64

In [16]:
from sklearn.preprocessing import MinMaxScaler
trans = MinMaxScaler()
data = trans.fit_transform(numerical_variables)
numerical_variables = DataFrame(data)
numerical_variables

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.531593,0.495098,0.24,0.625,0.375,0.591667,0.540541,0.592593,0.646341,0.22,0.200301,0.254518,0.500000,0.509211
1,0.366758,0.549020,0.00,0.625,0.375,0.591667,0.108108,0.543210,0.317073,0.25,0.287651,0.275602,0.508152,0.575000
2,0.517857,0.563725,0.00,0.625,0.375,0.625000,0.513514,0.641975,0.243902,0.30,0.197289,0.302711,0.611413,0.546053
3,0.416209,0.620098,0.00,0.625,0.375,0.258333,0.297297,0.222222,0.329268,0.16,0.498494,0.426205,0.532609,0.632895
4,0.644231,0.725490,0.40,0.625,0.375,0.541667,0.189189,0.493827,0.780488,0.33,0.293675,0.221386,0.524457,0.717105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.240385,0.507353,0.00,0.625,0.375,0.375000,0.351351,0.271605,0.402439,0.24,0.709337,0.652108,0.315217,0.525000
145456,0.262363,0.553922,0.00,0.625,0.375,0.225000,0.351351,0.222222,0.463415,0.21,0.676205,0.615964,0.336957,0.580263
145457,0.311813,0.593137,0.00,0.625,0.375,0.475000,0.243243,0.222222,0.426829,0.24,0.600904,0.546687,0.380435,0.622368
145458,0.377747,0.595588,0.00,0.625,0.375,0.325000,0.351351,0.172840,0.402439,0.24,0.552711,0.537651,0.451087,0.619737
145459,0.572802,0.502974,0.00,0.625,0.375,0.525587,0.459459,0.419753,0.536585,0.36,0.576807,0.579819,0.448370,0.485526

In [17]:
new_numerical_variables2.columns

Index(['mintemp', 'maxtemp', 'rainfall', 'evaporation', 'sunshine',
       'windgustspeed', 'windspeed9am', 'windspeed3pm', 'humidity9am',
       'humidity3pm', 'pressure9am', 'pressure3pm', 'temp9am', 'temp3pm'],
      dtype='object')

In [18]:
numerical_variables=numerical_variables.rename(columns={0:'mintemp', 1:'maxtemp', 2:'rainfall', 3:'evaporation', 4:'sunshine',
       5:'windgustspeed', 6:'windspeed9am', 7:'windspeed3pm', 8:'humidity9am',
       9:'humidity3pm', 10:'pressure9am', 11:'pressure3pm', 12:'temp9am', 13:'temp3pm'})
numerical_variables

,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,temp9am,temp3pm
0,0.531593,0.495098,0.24,0.625,0.375,0.591667,0.540541,0.592593,0.646341,0.22,0.200301,0.254518,0.500000,0.509211
1,0.366758,0.549020,0.00,0.625,0.375,0.591667,0.108108,0.543210,0.317073,0.25,0.287651,0.275602,0.508152,0.575000
2,0.517857,0.563725,0.00,0.625,0.375,0.625000,0.513514,0.641975,0.243902,0.30,0.197289,0.302711,0.611413,0.546053
3,0.416209,0.620098,0.00,0.625,0.375,0.258333,0.297297,0.222222,0.329268,0.16,0.498494,0.426205,0.532609,0.632895
4,0.644231,0.725490,0.40,0.625,0.375,0.541667,0.189189,0.493827,0.780488,0.33,0.293675,0.221386,0.524457,0.717105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.240385,0.507353,0.00,0.625,0.375,0.375000,0.351351,0.271605,0.402439,0.24,0.709337,0.652108,0.315217,0.525000
145456,0.262363,0.553922,0.00,0.625,0.375,0.225000,0.351351,0.222222,0.463415,0.21,0.676205,0.615964,0.336957,0.580263
145457,0.311813,0.593137,0.00,0.625,0.375,0.475000,0.243243,0.222222,0.426829,0.24,0.600904,0.546687,0.380435,0.622368
145458,0.377747,0.595588,0.00,0.625,0.375,0.325000,0.351351,0.172840,0.402439,0.24,0.552711,0.537651,0.451087,0.619737
145459,0.572802,0.502974,0.00,0.625,0.375,0.525587,0.459459,0.419753,0.536585,0.36,0.576807,0.579819,0.448370,0.485526

In [19]:
# categorical_variables=df.select_dtypes(include=['object'])
# categorical_variables

In [20]:
numerical_variables.columns

Index(['mintemp', 'maxtemp', 'rainfall', 'evaporation', 'sunshine',
       'windgustspeed', 'windspeed9am', 'windspeed3pm', 'humidity9am',
       'humidity3pm', 'pressure9am', 'pressure3pm', 'temp9am', 'temp3pm'],
      dtype='object')

In [21]:
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [22]:
categorical_variables=df.drop(['mintemp', 'maxtemp', 'rainfall', 'evaporation', 'sunshine',
       'windgustspeed', 'windspeed9am', 'windspeed3pm', 'humidity9am',
       'humidity3pm', 'pressure9am', 'pressure3pm', 'temp9am', 'temp3pm','raintomorrow'],axis=1)
categorical_variables.drop(['date'],axis=1,inplace=True)
categorical_variables

,location,windgustdir,winddir9am,winddir3pm,cloud9am,cloud3pm,raintoday
0,Albury,W,W,WNW,8.0,NaN,No
1,Albury,WNW,NNW,WSW,NaN,NaN,No
2,Albury,WSW,W,WSW,NaN,2.0,No
3,Albury,NE,SE,E,NaN,NaN,No
4,Albury,W,ENE,NW,7.0,8.0,No
...,...,...,...,...,...,...,...
145455,Uluru,E,SE,ENE,NaN,NaN,No
145456,Uluru,NNW,SE,N,NaN,NaN,No
145457,Uluru,N,SE,WNW,NaN,NaN,No
145458,Uluru,SE,SSE,N,3.0,2.0,No
145459,Uluru,NaN,ESE,ESE,8.0,8.0,No

In [23]:
categorical_variables.isnull().sum()

location           0
windgustdir    10326
winddir9am     10566
winddir3pm      4228
cloud9am       55888
cloud3pm       59358
raintoday       3261
dtype: int64

In [24]:
categorical_variables.isnull().sum()*100/len(categorical_variables)

location        0.000000
windgustdir     7.098859
winddir9am      7.263853
winddir3pm      2.906641
cloud9am       38.421559
cloud3pm       40.807095
raintoday       2.241853
dtype: float64

In [25]:
def fillna(col):
    col.fillna(col.value_counts().index[0], inplace=True)
    return col
categorical_variables=categorical_variables.apply(lambda col:fillna(col))

In [26]:
categorical_variables.isnull().sum()

location       0
windgustdir    0
winddir9am     0
winddir3pm     0
cloud9am       0
cloud3pm       0
raintoday      0
dtype: int64

In [27]:
df['raintomorrow'].isnull().sum()

3267

In [28]:
def fillna(col):
    col.fillna(col.value_counts().index[0], inplace=True)
    return col
df[['raintomorrow']]=df[['raintomorrow']].apply(lambda col:fillna(col))

In [29]:
df['raintomorrow'].isnull().sum()

0

# Below is the code for imputing NaNs in Categorical Data

In [30]:
# import pandas as pd
# from sklearn.impute import SimpleImputer
# arr = [[1., 'x'], [np.nan, 'y'], [7., 'z'], [7., 'y'], [4., np.nan]]
# df1 = pd.DataFrame({'x1': [x[0] for x in arr],
#                     'x2': [x[1] for x in arr]},
#                   index=[l for l in 'abcde'])
# imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
# print(pd.DataFrame(imp.fit_transform(df1),
#                    columns=df1.columns,
#                    index=df1.index))

In [31]:
categorical_variables=pd.get_dummies(categorical_variables, drop_first=True)
categorical_variables

,cloud9am,cloud3pm,location_Albany,location_Albury,location_AliceSprings,location_BadgerysCreek,location_Ballarat,location_Bendigo,location_Brisbane,location_Cairns,...,winddir3pm_NW,winddir3pm_S,winddir3pm_SE,winddir3pm_SSE,winddir3pm_SSW,winddir3pm_SW,winddir3pm_W,winddir3pm_WNW,winddir3pm_WSW,raintoday_Yes
0,8.0,7.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,7.0,7.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,7.0,2.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,7.0,7.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7.0,8.0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,7.0,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145456,7.0,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145457,7.0,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
145458,3.0,2.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145459,8.0,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df=pd.concat([numerical_variables, categorical_variables, df[['raintomorrow']]], axis=1)
df

,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,...,winddir3pm_S,winddir3pm_SE,winddir3pm_SSE,winddir3pm_SSW,winddir3pm_SW,winddir3pm_W,winddir3pm_WNW,winddir3pm_WSW,raintoday_Yes,raintomorrow
0,0.531593,0.495098,0.24,0.625,0.375,0.591667,0.540541,0.592593,0.646341,0.22,...,0,0,0,0,0,0,1,0,0,No
1,0.366758,0.549020,0.00,0.625,0.375,0.591667,0.108108,0.543210,0.317073,0.25,...,0,0,0,0,0,0,0,1,0,No
2,0.517857,0.563725,0.00,0.625,0.375,0.625000,0.513514,0.641975,0.243902,0.30,...,0,0,0,0,0,0,0,1,0,No
3,0.416209,0.620098,0.00,0.625,0.375,0.258333,0.297297,0.222222,0.329268,0.16,...,0,0,0,0,0,0,0,0,0,No
4,0.644231,0.725490,0.40,0.625,0.375,0.541667,0.189189,0.493827,0.780488,0.33,...,0,0,0,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.240385,0.507353,0.00,0.625,0.375,0.375000,0.351351,0.271605,0.402439,0.24,...,0,0,0,0,0,0,0,0,0,No
145456,0.262363,0.553922,0.00,0.625,0.375,0.225000,0.351351,0.222222,0.463415,0.21,...,0,0,0,0,0,0,0,0,0,No
145457,0.311813,0.593137,0.00,0.625,0.375,0.475000,0.243243,0.222222,0.426829,0.24,...,0,0,0,0,0,0,1,0,0,No
145458,0.377747,0.595588,0.00,0.625,0.375,0.325000,0.351351,0.172840,0.402439,0.24,...,0,0,0,0,0,0,0,0,0,No
145459,0.572802,0.502974,0.00,0.625,0.375,0.525587,0.459459,0.419753,0.536585,0.36,...,0,0,0,0,0,0,0,0,0,No

In [33]:
df.isnull().sum().sum()

0

# VIF due to dummies

In [34]:
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [35]:
a=df.drop(['raintomorrow'],axis=1)
a

,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,...,winddir3pm_NW,winddir3pm_S,winddir3pm_SE,winddir3pm_SSE,winddir3pm_SSW,winddir3pm_SW,winddir3pm_W,winddir3pm_WNW,winddir3pm_WSW,raintoday_Yes
0,0.531593,0.495098,0.24,0.625,0.375,0.591667,0.540541,0.592593,0.646341,0.22,...,0,0,0,0,0,0,0,1,0,0
1,0.366758,0.549020,0.00,0.625,0.375,0.591667,0.108108,0.543210,0.317073,0.25,...,0,0,0,0,0,0,0,0,1,0
2,0.517857,0.563725,0.00,0.625,0.375,0.625000,0.513514,0.641975,0.243902,0.30,...,0,0,0,0,0,0,0,0,1,0
3,0.416209,0.620098,0.00,0.625,0.375,0.258333,0.297297,0.222222,0.329268,0.16,...,0,0,0,0,0,0,0,0,0,0
4,0.644231,0.725490,0.40,0.625,0.375,0.541667,0.189189,0.493827,0.780488,0.33,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0.240385,0.507353,0.00,0.625,0.375,0.375000,0.351351,0.271605,0.402439,0.24,...,0,0,0,0,0,0,0,0,0,0
145456,0.262363,0.553922,0.00,0.625,0.375,0.225000,0.351351,0.222222,0.463415,0.21,...,0,0,0,0,0,0,0,0,0,0
145457,0.311813,0.593137,0.00,0.625,0.375,0.475000,0.243243,0.222222,0.426829,0.24,...,0,0,0,0,0,0,0,1,0,0
145458,0.377747,0.595588,0.00,0.625,0.375,0.325000,0.351351,0.172840,0.402439,0.24,...,0,0,0,0,0,0,0,0,0,0
145459,0.572802,0.502974,0.00,0.625,0.375,0.525587,0.459459,0.419753,0.536585,0.36,...,0,0,0,0,0,0,0,0,0,0

In [36]:
vif_data = pd.DataFrame()
vif_data["feature"] = df.columns.drop('raintomorrow')
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(a.values, i)
                          for i in range(len(a.columns))]

In [37]:
vif_data

            feature         VIF
0           mintemp   92.418616
1           maxtemp  241.148088
2          rainfall    8.515901
3       evaporation    8.111730
4          sunshine    5.556764
..              ...         ...
105   winddir3pm_SW    2.645595
106    winddir3pm_W    2.761564
107  winddir3pm_WNW    2.588461
108  winddir3pm_WSW    2.662566
109   raintoday_Yes    7.470853

[110 rows x 2 columns]

In [38]:
vif_data=vif_data[vif_data['VIF']<3]
vif_data

                    feature       VIF
16          location_Albany  2.158851
17          location_Albury  1.868026
18    location_AliceSprings  1.865201
19   location_BadgerysCreek  1.943311
20        location_Ballarat  2.047067
..                      ...       ...
104          winddir3pm_SSW  2.399395
105           winddir3pm_SW  2.645595
106            winddir3pm_W  2.761564
107          winddir3pm_WNW  2.588461
108          winddir3pm_WSW  2.662566

[90 rows x 2 columns]

In [42]:
print(vif_data['feature'].to_list(), end='')

['location_Albany', 'location_Albury', 'location_AliceSprings', 'location_BadgerysCreek', 'location_Ballarat', 'location_Bendigo', 'location_Brisbane', 'location_Cairns', 'location_Canberra', 'location_Cobar', 'location_CoffsHarbour', 'location_Dartmoor', 'location_Darwin', 'location_GoldCoast', 'location_Hobart', 'location_Katherine', 'location_Launceston', 'location_Melbourne', 'location_MelbourneAirport', 'location_Mildura', 'location_Moree', 'location_MountGambier', 'location_MountGinini', 'location_Newcastle', 'location_Nhil', 'location_NorahHead', 'location_NorfolkIsland', 'location_Nuriootpa', 'location_PearceRAAF', 'location_Penrith', 'location_Perth', 'location_PerthAirport', 'location_Portland', 'location_Richmond', 'location_Sale', 'location_SalmonGums', 'location_Sydney', 'location_SydneyAirport', 'location_Townsville', 'location_Tuggeranong', 'location_Uluru', 'location_WaggaWagga', 'location_Walpole', 'location_Watsonia', 'location_Williamtown', 'location_Witchcliffe', 'location_Wollongong', 'location_Woomera', 'windgustdir_ENE', 'windgustdir_ESE', 'windgustdir_N', 'windgustdir_NE', 'windgustdir_NNE', 'windgustdir_NNW', 'windgustdir_NW', 'windgustdir_S', 'windgustdir_SE', 'windgustdir_SSE', 'windgustdir_SSW', 'windgustdir_SW', 'windgustdir_WNW', 'windgustdir_WSW', 'winddir9am_ENE', 'winddir9am_ESE', 'winddir9am_NE', 'winddir9am_NNE', 'winddir9am_NNW', 'winddir9am_NW', 'winddir9am_S', 'winddir9am_SE', 'winddir9am_SSE', 'winddir9am_SSW', 'winddir9am_SW', 'winddir9am_W', 'winddir9am_WNW', 'winddir9am_WSW', 'winddir3pm_ENE', 'winddir3pm_ESE', 'winddir3pm_N', 'winddir3pm_NE', 'winddir3pm_NNE', 'winddir3pm_NNW', 'winddir3pm_NW', 'winddir3pm_S', 'winddir3pm_SSE', 'winddir3pm_SSW', 'winddir3pm_SW', 'winddir3pm_W', 'winddir3pm_WNW', 'winddir3pm_WSW']

In [43]:
df=df[['location_Albany', 'location_Albury', 'location_AliceSprings', 'location_BadgerysCreek', 'location_Ballarat', 
       'location_Bendigo', 'location_Brisbane', 'location_Cairns', 'location_Canberra', 'location_Cobar', 
       'location_CoffsHarbour', 'location_Dartmoor', 'location_Darwin', 'location_GoldCoast', 'location_Hobart', 
       'location_Katherine', 'location_Launceston', 'location_Melbourne', 'location_MelbourneAirport', 'location_Mildura', 
       'location_Moree', 'location_MountGambier', 'location_MountGinini', 'location_Newcastle', 'location_Nhil', 
       'location_NorahHead', 'location_NorfolkIsland', 'location_Nuriootpa', 'location_PearceRAAF', 'location_Penrith', 
       'location_Perth', 'location_PerthAirport', 'location_Portland', 'location_Richmond', 'location_Sale', 
       'location_SalmonGums', 'location_Sydney', 'location_SydneyAirport', 'location_Townsville', 'location_Tuggeranong', 
       'location_Uluru', 'location_WaggaWagga', 'location_Walpole', 'location_Watsonia', 'location_Williamtown', 
       'location_Witchcliffe', 'location_Wollongong', 'location_Woomera', 'windgustdir_ENE', 'windgustdir_ESE', 
       'windgustdir_N', 'windgustdir_NE', 'windgustdir_NNE', 'windgustdir_NNW', 'windgustdir_NW', 'windgustdir_S', 
       'windgustdir_SE', 'windgustdir_SSE', 'windgustdir_SSW', 'windgustdir_SW', 'windgustdir_WNW', 'windgustdir_WSW', 
       'winddir9am_ENE', 'winddir9am_ESE', 'winddir9am_NE', 'winddir9am_NNE', 'winddir9am_NNW', 'winddir9am_NW', 
       'winddir9am_S', 'winddir9am_SE', 'winddir9am_SSE', 'winddir9am_SSW', 'winddir9am_SW', 'winddir9am_W', 'winddir9am_WNW', 
       'winddir9am_WSW', 'winddir3pm_ENE', 'winddir3pm_ESE', 'winddir3pm_N', 'winddir3pm_NE', 'winddir3pm_NNE', 'winddir3pm_NNW', 
       'winddir3pm_NW', 'winddir3pm_S', 'winddir3pm_SSE', 'winddir3pm_SSW', 'winddir3pm_SW', 'winddir3pm_W', 'winddir3pm_WNW', 
       'winddir3pm_WSW','raintomorrow']]
df

,location_Albany,location_Albury,location_AliceSprings,location_BadgerysCreek,location_Ballarat,location_Bendigo,location_Brisbane,location_Cairns,location_Canberra,location_Cobar,...,winddir3pm_NNW,winddir3pm_NW,winddir3pm_S,winddir3pm_SSE,winddir3pm_SSW,winddir3pm_SW,winddir3pm_W,winddir3pm_WNW,winddir3pm_WSW,raintomorrow
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,No
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,No
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,No
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No
4,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No
145456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No
145457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,No
145458,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No
145459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No

In [44]:
from sklearn.preprocessing import LabelEncoder

In [45]:
labelencoder = LabelEncoder()

In [46]:
df['raintomorrow'] = labelencoder.fit_transform(df['raintomorrow'])
df

<ipython-input-46-b956688079ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['raintomorrow'] = labelencoder.fit_transform(df['raintomorrow'])

,location_Albany,location_Albury,location_AliceSprings,location_BadgerysCreek,location_Ballarat,location_Bendigo,location_Brisbane,location_Cairns,location_Canberra,location_Cobar,...,winddir3pm_NNW,winddir3pm_NW,winddir3pm_S,winddir3pm_SSE,winddir3pm_SSW,winddir3pm_SW,winddir3pm_W,winddir3pm_WNW,winddir3pm_WSW,raintomorrow
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
145458,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
X=df.iloc[:,:-1]
X

,location_Albany,location_Albury,location_AliceSprings,location_BadgerysCreek,location_Ballarat,location_Bendigo,location_Brisbane,location_Cairns,location_Canberra,location_Cobar,...,winddir3pm_NNE,winddir3pm_NNW,winddir3pm_NW,winddir3pm_S,winddir3pm_SSE,winddir3pm_SSW,winddir3pm_SW,winddir3pm_W,winddir3pm_WNW,winddir3pm_WSW
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
145458,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
y=df[['raintomorrow']]
y

        raintomorrow
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
145455             0
145456             0
145457             0
145458             0
145459             0

[145460 rows x 1 columns]

In [49]:
import torch
import numpy as np

In [50]:
X=torch.from_numpy(X.to_numpy()).type(torch.float32)
X

tensor([[0., 1., 0.,  ..., 0., 1., 0.],
        [0., 1., 0.,  ..., 0., 0., 1.],
        [0., 1., 0.,  ..., 0., 0., 1.],
        ...,
        [0., 0., 0.,  ..., 0., 1., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [51]:
X.dtype

torch.float32

In [52]:
y=torch.from_numpy(y.to_numpy()).type(torch.int64)
y

tensor([[0],
        [0],
        [0],
        ...,
        [0],
        [0],
        [0]])

In [53]:
y.dtype

torch.int64

In [54]:
y_new=torch.tensor(df['raintomorrow']).type(torch.int64)
y_new

tensor([0, 0, 0,  ..., 0, 0, 0])

In [82]:
y_new.dtype

torch.int64

In [88]:
import torch.nn as nn
from torch.utils.data import random_split, DataLoader, TensorDataset
import torch.nn.functional as F

In [84]:
data=TensorDataset(X,y_new)
data

In [96]:
split = 0.3
rows = list(X.shape)[0]
test_split = int(rows*split)
train_split=rows-test_split
train_set, test_set = random_split(data, [train_split, test_split])

In [107]:
batch_size = 32

# Create data loaders.
train_dataloader = DataLoader(train_set, batch_size=batch_size)
test_dataloader = DataLoader(test_set, batch_size=batch_size)

In [108]:
# Get cpu or gpu device for training.
device = "cuda" if torch.cuda.is_available() else "cpu"
print("Using {} device".format(device))

# Define model
class NeuralNetwork(nn.Module):
    def __init__(self):
        super(NeuralNetwork, self).__init__()
        self.flatten = nn.Flatten()
        self.linear_relu_stack = nn.Sequential(
            nn.Linear(90, 45),
            nn.ReLU(),
            nn.Linear(45, 45),
            nn.ReLU(),
            nn.Linear(45, 2),
            nn.ReLU()
        )

    def forward(self, x):
        x = self.flatten(x)
        logits = self.linear_relu_stack(x)
        return logits

model = NeuralNetwork().to(device)
print(model)

Using cpu device
NeuralNetwork(
  (flatten): Flatten(start_dim=1, end_dim=-1)
  (linear_relu_stack): Sequential(
    (0): Linear(in_features=90, out_features=45, bias=True)
    (1): ReLU()
    (2): Linear(in_features=45, out_features=45, bias=True)
    (3): ReLU()
    (4): Linear(in_features=45, out_features=2, bias=True)
    (5): ReLU()
  )
)

In [109]:
loss_fn = nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=1e-3)

In [110]:
def train(dataloader, model, loss_fn, optimizer):
    size = len(dataloader.dataset)
    for batch, (X, y) in enumerate(dataloader):
        X, y = X.to(device), y.to(device)

        # Compute prediction error
        pred = model(X)
        loss = loss_fn(pred, y)

        # Backpropagation
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if batch % 100 == 0:
            loss, current = loss.item(), batch * len(X)
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")

In [111]:
def test(dataloader, model):
    size = len(dataloader.dataset)
    model.eval()
    test_loss, correct = 0, 0
    with torch.no_grad():
        for X, y in dataloader:
            X, y = X.to(device), y.to(device)
            pred = model(X)
            test_loss += loss_fn(pred, y).item()
            correct += (pred.argmax(1) == y).type(torch.float).sum().item()
    test_loss /= size
    correct /= size
    print(f"Test Error: \n Accuracy: {(100*correct):>0.1f}%, Avg loss: {test_loss:>8f} \n")

In [112]:
epochs = 10
for t in range(epochs):
    print(f"Epoch {t+1}\n-------------------------------")
    train(train_dataloader, model, loss_fn, optimizer)
    test(test_dataloader, model)
print("Done!")

Epoch 1
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693057  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 2
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693060  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 3
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693063  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 4
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693066  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 5
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693068  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 6
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693070  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 7
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693072  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 8
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]

loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693074  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 9
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693076  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Epoch 10
-------------------------------
loss: 0.693147  [    0/101822]
loss: 0.693147  [ 3200/101822]
loss: 0.693147  [ 6400/101822]
loss: 0.693147  [ 9600/101822]
loss: 0.693147  [12800/101822]
loss: 0.693147  [16000/101822]
loss: 0.693147  [19200/101822]
loss: 0.693147  [22400/101822]
loss: 0.693147  [25600/101822]
loss: 0.693147  [28800/101822]
loss: 0.693147  [32000/101822]
loss: 0.693147  [35200/101822]
loss: 0.693147  [38400/101822]
loss: 0.693147  [41600/101822]
loss: 0.693147  [44800/101822]
loss: 0.693147  [48000/101822]
loss: 0.693147  [51200/101822]
loss: 0.693147  [54400/101822]
loss: 0.693147  [57600/101822]
loss: 0.693147  [60800/101822]
loss: 0.693147  [64000/101822]
loss: 0.693147  [67200/101822]
loss: 0.693147  [70400/101822]
loss: 0.693147  [73600/101822]
loss: 0.693147  [76800/101822]
loss: 0.693147  [80000/101822]
loss: 0.693077  [83200/101822]
loss: 0.693147  [86400/101822]
loss: 0.693147  [89600/101822]
loss: 0.693147  [92800/101822]
loss: 0.693147  [96000/101822]
loss: 0.693147  [99200/101822]
Test Error:
 Accuracy: 78.3%, Avg loss: 0.021666

Done!